{{#each @manager.transitions.stepTransitions as |step index|}}
    <div class="wizard-stepper-step {{if step.isActive 'active' 'inactive'}} {{if (gt @manager.transitions.currentStepIndex index) 'completed' 'incomplete'}}">
        <div class="wizard-stepper-step-badge-container">
            <div class="wizard-stepper-step-badge">
                {{#if hasBlock}}
                    {{yield (hash
                        index=index
                        currentStepIndex=@manager.transitions.currentStepIndex
                    )}}
                {{else}}
                    {{#if (gt @manager.transitions.currentStepIndex index)}}
                        &#10003;
                    {{else}}
                        {{inc index}}
                    {{/if}}
                {{/if}}
            </div>
            <div class="wizard-stepper-step-connector">
                <div class="wizard-stepper-step-connector-progress"></div>
            </div>
        </div>
        <div class="wizard-stepper-step-label-container">
            <div class="wizard-stepper-step-label">{{step.name}}</div>
        </div>
    </div>
{{/each}}